<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="670497221809-rdt56lmo9f29ca1rfp8k3svm39q6gscd.apps.googleusercontent.com">
    <title>Kumpakata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
    <div id="app">
        <div id="website">
            <navbar-website @search-keyword="searchTag" @to-homepage="changeToHomePage" v-if="navbarWeb"></navbar-website>
            <body-website @full-article="fullArticleInWebsite" :articles="articles" v-if="bodyWebsite"></body-website>
            <full-article @to-all-articles="backToArticlesInWebsite" :article="detailArticle" v-if="detailArticleInInterface"></full-article>
            <search-results @full-article="fullArticleInWebsite" :results="searchResults" v-if="searchResults"></search-results>
        </div>

        <div id="homepage">
            <navbar-homepage @logout-user="userLogout" :isLogin="isLogin" @to-website="changeToWebsite" @user-login="userLogin" @to-homepage="changeToHomePage" @to-my-sites="changeToMySites" v-if="navbarHomepage"></navbar-homepage>
            <body-homepage @to-sign-up-page="changeToSignupPage" v-if="bodyHomepage"></body-homepage>
            <signup-page @sign-up-data="signUp" v-if="signupPage"></signup-page>
        </div>
        
        <div id="mySites">
            <navbar-mysites @logout="userLogout" @to-homepage="changeToHomePage" @to-write-post-page="changeToWritePost" v-if="navbarMySites"></navbar-mysites>
            <div id="mySitesContent" class="d-flex">
                <side-menu-mysites @all-articles-in-the-universe="changeToAllArticles" @show-articles="showArticles" v-if="sideMenuMySites"></side-menu-mysites>
                <div id="sideMenuDetails" class="col-9">
                    <content-general-my-sites v-if="generalMySites"></content-general-my-sites>
                    <blog-posts @full-article="changeToFullArticle" :myarticles="myArticles" v-if="blogPosts"></blog-posts>
                    <article-detail @back-to-my-sites="changeToMySites" :fullarticle="detailArticle" v-if="fullArticle"></article-detail>
                    <all-articles-in-this-universe @full-article="fullArticleInWebsite" :allarticles="articles" v-if="allTheArticles"></all-articles-in-this-universe>
                </div>
            </div>
        </div>
        <!-- <div id="articleFullView" v-if="articleFullView">
            <all-articles-from-mysites></all-articles-from-mysites>
        </div> -->

        <div id="writePost">
            <navbar-write-post @change-to-my-sites="changeToMySites" v-if="navbarWritePost"></navbar-write-post>
            <body-write-post @post-article="postArticle" v-if="bodyWritePost"></body-write-post>
        </div>
    </div>

    <script src="https://apis.google.com/js/platform.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript">if(typeof wabtn4fg==="undefined"){wabtn4fg=1;h=document.head||document.getElementsByTagName("head")[0],s=document.createElement("script");s.type="text/javascript";s.src="url/to/your/button/whatsapp-button.js";h.appendChild(s);}</script> -->
    <script src="assets/vueWysiwyg.js"></script>
    <script src="assets/components/website-interface/search-results.js"></script>
    <script src="assets/components/general/signupPage.js"></script>
    <script src="assets/components/mySites/blogPosts.js"></script>
    <script src="assets/components/navbar-mysites.js"></script>
    <!-- <script src="assets/components/mySites/all-articles-from-mysites"></script> -->
    <script src="assets/components/mySites/all-articles-in-the-universe.js"></script>
    <script src="assets/components/body-homepage.js"></script>
    <script src="assets/components/navbar-homepage.js"></script>
    <script src="assets/components/fullArticle/article-detail.js"></script>
    <script src="assets/components/side-menu-mysites.js"></script>
    <script src="assets/components/content-general-my-sites.js"></script>
    <script src="assets/components/navbar-write-post.js"></script>
    <script src="assets/components/body-write-post.js"></script>
    <script src="assets/components/website-interface/navbar-website.js"></script>
    <script src="assets/components/website-interface/body-website.js"></script>
    <script src="assets/components/website-interface/full-article-interface.js"></script>
    <script src="assets/main.js"></script>
</body>
</html>